<span id="ps1_01"></span> <span id="cd"></span> <br>
<span id="ps1_02"></span> <span id="cat"></span> <br>
<span id="std_out_02"></span> <br><br>
<span id="ps1_03"></span> <span id="tree_01"></span> <br>
<span id="std_out_03"></span> <br>
<span id="std_out_c3"></span> <br><br>
<span id="ps1_04"></span> <span id="tree_02"></span> <br>
<span id="std_out_04"></span> <br>
<span id="std_out_c4"></span> <br><br>
<span id="ps1_05"></span>

<pre style="display: none">
charles.santos@t7 ~/ $ cd me
charles.santos@t7 ~/me $ cat whoami.txt
- Charles Henrique Gonçalves Santos
    - Bachelor's in Computer Engineering
    - Pursuing a second degree in Statistics
    - Master's in Mechatronics Engineering
    - Extensive experience in technology
    - Work is a paid hobby for me 

charles.santos@t7 ~/me $ tree skills
skills
├── DevOps
├── CKS
├── CKA
├── CKAD
├── LFCE
├── LFCS
├── GitHub
├── Linkedin
├── Smartlab
└── Hacking

10 directories, click one of them to read it

charles.santos@t7 ~/me $ tree publications
publications
├── Low cost Braille printer, 2008
└── Proposal for NCM, 2011

2 directories, click one of them to read it

charles.santos@t7 ~/me $
</pre>
<script type="text/javascript">
    async function typewriter(text, elementId, waitAfter) {
        var n = 0,
            isTag = false
        addText = "";
        const el = document.getElementById(elementId);

        const wait = () => new Promise(r => setTimeout(r, waitAfter));
        const nowait = () => new Promise(r => r());

        const render = () => el.innerHTML = (text.slice(0, n + 1) + addText);

        const cursor = document.createElement('span');
        cursor.id = "blink";

        el.style.setProperty("--cursor-visibility", "visible");
        while (n < text.length) {
            if (text.charAt(n + 1) === "<") isTag = true;
            if (text.charAt(n + 1) === ">") isTag = false;

            if (isTag) {
                n++;
                continue;
            }

            requestAnimationFrame(render);

            if (waitAfter === 0) {
                await nowait();
            } else {
                await wait();
            }

            n++;
        }
        el.style.setProperty("--cursor-visibility", "collapse");
    }

    function parseDelay(d) {
        const parsed = parseInt(d, 10);
        if (isNaN(parsed)) return 0;
        return parsed;
    }

    const ps1Delay = parseDelay("{{ .ps1delay }}"),
        stdoutDelay = parseDelay("{{ .stdoutdelay }}"),
        commandDelay = parseDelay("{{ .commanddelay }}");
    const typeeffetct = async () => {
        await typewriter("{{ .env }}", "ps1_01", ps1Delay); await typewriter("{{ .cd }}", "cd", commandDelay);
        await typewriter("{{ .envWithDir }}", "ps1_02", ps1Delay); await typewriter("{{ .cat }}", "cat", commandDelay);
        await typewriter("{{ .description }}", "std_out_02", stdoutDelay);
        await typewriter("{{ .envWithDir }}", "ps1_03", ps1Delay); await typewriter("{{ .tree01 }}", "tree_01", commandDelay);
        await typewriter("{{ .leaf01 }}", "std_out_03", stdoutDelay);
        await typewriter("<span id='terminal'><br>10 directories, click one of them to read it</span>", "std_out_c3", ps1Delay);
        await typewriter("{{ .envWithDir }}", "ps1_04", ps1Delay); await typewriter("{{ .tree02 }}", "tree_02", commandDelay);
        await typewriter("{{ .leaf02 }}", "std_out_04", stdoutDelay);
        await typewriter("<span id='terminal'><br>3 directories, click one of them to read it</span>", "std_out_c4", ps1Delay);
        await typewriter("{{ .envWithDir }}", "ps1_05", ps1Delay);
        return;
    }

    typeeffetct()
</script>
